/*imports*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/*misc*/
/*variables*/
/* normalize*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: 'PT Serif', serif;
  font-size: 1.6em;
  color: #000000; }

ul {
  list-style-type: none; }

a {
  font-size: 2em;
  text-decoration: none;
  display: inline-block; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

input {
  border-color: #ecaf3d; }
  input:focus {
    border-color: #EFA00B; }

/*partials*/
/*footer*/
footer {
  background-color: #EFA00B;
  padding: 1.6rem;
  height: 65px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  footer .footer__link {
    background-color: #F4F4ED;
    text-decoration: none;
    float: right;
    color: #000000;
    font-size: 1.2em;
    transition: all .3s ease-in-out; }
    footer .footer__link:hover {
      background-color: #000000;
      color: #F4F4ED; }

/*header*/
header {
  background-color: #EFA00B;
  width: 100%; }
  header nav {
    color: #F4F4ED; }
  header .navbar {
    display: flex;
    justify-content: space-between; }
    header .navbar .menu {
      display: flex;
      justify-content: space-between; }
      header .navbar .menu .menu__item {
        padding: 10px; }
      header .navbar .menu .menu__link {
        color: #F4F4ED;
        transition: all .3s ease-in-out;
        padding: 20px 20px;
        margin-top: 10px; }
        header .navbar .menu .menu__link:hover {
          background-color: #ecaf3d;
          color: #000000; }

/*pages*/
.noticias_ p {
  padding: 15px 90px 0px 120px; }

.noticias_ h2 {
  padding: 15px 90px 0px 120px; }

.noticias_ h1 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 3.6em; }

.noticias_ .noticia {
  margin-top: 50px;
  display: flex;
  padding: 20px; }
  .noticias_ .noticia p {
    display: inline-block; }
  .noticias_ .noticia .noticia__imagen {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px; }

.noticias_ .ultima {
  padding-bottom: 210px; }

.historia {
  background-color: #EFA00B;
  display: flex;
  padding: 50px 100px; }
  .historia .historia__texto {
    padding: 20px 10px 20px 10px; }
    .historia .historia__texto .tt {
      font-size: 5rem; }
    .historia .historia__texto p {
      padding: 10px 0px; }
  .historia .historia__link {
    background-color: #F4F4ED;
    float: right;
    font-size: 1.2em;
    color: #000000;
    transition: all .3s ease-in-out;
    padding: 10px 11px 11px 11px;
    margin-right: 20px; }
    .historia .historia__link:hover {
      background-color: #000000;
      color: #F4F4ED; }

.noticias {
  flex-wrap: wrap; }
  .noticias .tarjeta {
    padding: 30px 0px;
    width: 1200;
    height: 259;
    display: flex;
    flex-wrap: wrap; }
    .noticias .tarjeta .noticia__img {
      min-height: 225px;
      min-width: 500px; }
    .noticias .tarjeta .noticia__img2 {
      min-height: 225px;
      min-width: 500px;
      float: right; }
    .noticias .tarjeta .tarjeta__tittle {
      padding: 20px 0px;
      font-size: 1.6em; }
    .noticias .tarjeta .tarjeta__description {
      padding: 20px 0px;
      font-size: 1.2em; }
    .noticias .tarjeta .tarjeta__button {
      background-color: #EFA00B;
      text-decoration: none;
      float: right;
      width: 130px;
      height: 60px;
      font-size: 1.2em;
      padding-top: 15px;
      transition: all .3s ease-in-out; }
      .noticias .tarjeta .tarjeta__button:hover {
        background-color: #ecaf3d; }
    .noticias .tarjeta .tarjeta__button2 {
      background-color: #EFA00B;
      text-decoration: none;
      float: left;
      width: 130px;
      height: 60px;
      font-size: 1.2em;
      padding-top: 15px;
      transition: all .3s ease-in-out; }
      .noticias .tarjeta .tarjeta__button2:hover {
        background-color: #ecaf3d; }

.historiacomp p {
  padding: 15px 120px; }

.historiacomp .historia__titulo {
  font-size: 3.6em;
  text-align: center;
  padding: 10px; }

.contacto__tittle {
  text-align: center;
  font-size: 3.6em; }

.contacto {
  text-align: center;
  border: 2px solid #EFA00B;
  background-color: #ecaf3d;
  justify-content: center;
  margin: 20px 100px;
  border-radius: 10px;
  padding-bottom: 179px; }
  .contacto .contacto__label {
    margin: 5px; }
  .contacto .contacto__tittle {
    text-align: center;
    font-size: 3.6em; }
  .contacto .contacto__tt {
    font-size: 2em; }
  .contacto input:focus {
    border-color: #EFA00B; }

.top10 {
  padding-bottom: 65px; }
  .top10 .top10__tittle {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 3.6em; }
  .top10 table td {
    border: #000000 solid 2px; }
  .top10 table th {
    border: #000000 solid 2px; }

/*media*/
/*mediaqueries*/
@media screen and (min-width: 1205px) {
  header .navbar .menu .menu__link {
    font-size: 2em;
    padding: 20px 20px;
    margin-top: 10px; }
  .noticias_ .noticia .noticia__imagen {
    padding-right: 120px; }
  .contacto {
    margin: 20px 200px; } }

@media screen and (max-width: 780px) {
  .contacto {
    margin: 10px 30px; }
  .historiacomp .historia__titulo {
    font-size: 2em; }
  .historiacomp p {
    padding: 10px 30px; }
  header .navbar .menu .menu__link {
    padding: 0px; }
  footer {
    height: 100px; }
  .noticias_ h1 {
    font-size: 2em;
    padding-bottom: 0px; }
  .noticias_ p {
    padding: 10px 30px; }
  .noticias_ h2 {
    padding: 10px 30px; }
  .noticias_ .noticia .noticia__imagen {
    padding: 0px 20px; }
  .noticias_ {
    flex-wrap: wrap-reverse; }
  .historia .historia__texto .tt {
    font-size: 2em; }
  .noticias .tarjeta .noticia__img {
    padding: 10px;
    min-width: 0px; }
  .noticias .tarjeta .noticia__img2 {
    min-width: 0px; }
  .top10 .top10__tittle {
    font-size: 2em; }
  .contacto .contacto__tittle {
    font-size: 2em; }
  .contacto .contacto__tt {
    font-size: 1.6em; } }

@media screen and (max-width: 990px) {
  .noticias .media1 {
    flex-wrap: wrap-reverse; } }
